<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title, :class => 'label' %>
    <%= form.text_field :Title, :class => 'title' %>
  </div>

  <div class="field">
    <%= form.label :Body , :class => 'label'%>
    <%= form.text_area :Body , :class => 'body'%>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', :class => 'sub' %>
  </div>
<% end %>
